
/* ==========================================================================
   Header
   ========================================================================== */
#logo > img {
  margin-top: 10px;
  width: 75px;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-bottom: 3px solid #f8f8f8;
  padding-bottom: 10px;
}

header #logo {
  grid-row: 1;
  grid-column: 2/4;
}

/* ==========================================================================
   Menu
   ========================================================================== */

header nav {
  grid-row: 1;
  grid-column: 9/13;
}

#button {
  padding: 0;
}

#button li {
  display: inline;
}

header nav ul {
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a{
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    color:#aaa;
    text-transform: uppercase;
}


/* ==========================================================================
   General layout
   ========================================================================== */


   html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
  }


/* ==========================================================================
   Content
   ========================================================================== */

article h1 {
  font-family: 'Lobster', cursive;
  color: #5d5d5d;
}

article p {
  font-size: 21px;
  font-style: italic;
}


article {
  width: 600px;
  height: 200px;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
}

/* ==========================================================================
   Footer 
   ========================================================================== */



footer {
  background-color: #eee;
  height: 100px;
  padding-top: 20px;
  display: grid;
    grid-template-columns: repeat(12,1fr);
}



footer #licence {
  grid-row: 1;
  grid-column: 2/4;
}

footer #contact {
  grid-row: 1;
  grid-column: 9/13;
}

footer a {
  color: #aaa;
  text-decoration: none;

  
}

footer {
  font-size: 12px;
}
